# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Docs
docs/

# Dotenv file
.env

# Sentinel Bot
Java_Agent/target/
Java_Agent/bot.log
Java_Agent/frontend.log
Java_Agent/start_bot.sh
Java_Agent/build_output.txt

# PVM
pvm-risk-score/target/
pvm-risk-score/*.pvm
pvm-risk-score/Cargo.lock

# Forge broadacast logs
broadcast/

# Misc
deploy_output.txt
node_modules/

# Next.js
.next/
*.log
*.zip
.DS_Store
